div.question-info-container-for-teacher{
  position:absolute;
  display:flex;
  bottom:0;
  left:0;
  width:100%;
  height:20px;
  background:rgba(0,0,0,0.7);

}

div.question-info-container-for-teacher > div {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  color:#fff;
  font-size:12px;
  font-weight:700;
}

div.my-qa-in-progress{
  width:100%;
  height:calc(100% - 54px);
  padding-top:15px;
  overflow:scroll;
}


div.main-tab-notreadcnt{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  width:17px;
  height:17px;
  top:-2px;
  right:-10px;
  border-radius:50em;
  font-size:11px;
  font-weight:700;
  pointer-events:none;
}



/*todo 수잘친 채팅에 대한 css*/
div.zikpool-chat-list-box{
display:flex;
margin-top:12px;
width:100%;
height:80px;
padding:0 5px 0 2px;
}
div.zikpool-chat-list-box > .chat-type{
width:16px;
height:100%;
}

div.zikpool-chat-list-box > .q-img-mini-box{
  width:80px;
  height:100%;
  margin-left:4px;
  position:relative;
}
div.zikpool-chat-list-box > .q-img-mini-box > img{
  object-fit:cover;
  width:100%;
  height:100%;
}
div.zikpool-chat-list-box > .chat-partner-info-box{
  width:calc(100% - 105px);
  height:100%;
  padding-left:5px;
  text-align:left;
}
div.zikpool-chat-list-box > .chat-type > label.chat-with-partner-label{
  width:16px;
  height:16px;
  background:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:3px;
}


div.zikpool-chat-msg-content{
  font-size:12px;
  color:#787878;
  font-weight:500;
  width:100%;
}

div.zikpool-chat-msg-date{
  font-size:10px;
  color:#787878;
  width:100%;
  text-align:right;
  margin-top:4px;
}

div.chat-notreadcnt{
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  right:-2px;
  top:5px;
  width:17px;
  height:17px;
  border-radius:50em;
  font-size:10px;
  font-weight:700;
}

div.zc-msg-zikpool-start-flag{
  background:#fff;
  padding:2px 8px 1px 8px;
  border:1px solid #999999;
  border-radius:5px;
  display:inline-block;
  color:#484848;
  font-weight:500;
}

div.zc-msg-zikpool-chat-complete-flag{
  background:#008be5;
  padding:2px 8px 1px 8px;
  border:1px solid #585858;
  border-radius:5px;
  display:inline-block;
  color:#fff;
  font-weight:500;
}
/*768px 이하*/
@media (max-width:768px){
  .tab1-font-bigger{
    font-size:3.3vw;
  }
  .tab1-font-smaller{
    font-size:3vw;
  }
  .tab1-qimg-height{
    height:26vh;
  }
  .tab1-border-radius{

  }
}

/*769px 이상*/
@media (min-width:768px){
  .tab1-font-bigger{
    font-size:2.7vw;
  }
  .tab1-font-smaller{
    font-size:2.3vw;
  }
  .tab1-qimg-height{
    height:24vh;
  }
  .tab1-border-radius{

  }
}

div.there-is-not-anything-in-container{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}

div.there-is-not-anything-in-container > img{
    width:70px;
}



/*포인트 탭 관련 css*/
.t4-buy-point-container{
  width:100%;
  height:100%;
  padding:0px 10px 10px 10px;
  background:#fff;
  overflow:scroll;

}

.t4-buy-point-container > .section-container{
  width:100%;
  padding-top:20px;
}

.t4-buy-point-container > .section-container > .title{
    width:100%;
    font-size:14px;
    font-weight:700;
    color:#000;
}

.t4-buy-point-container > .section-container > .title > .step{
  color:#fff;
  padding:1px 5px;
  border-radius: 4px;
  font-size:11px;
  background:#484848;
  display:inline-block;
  margin-bottom:5px;
}

.t4-buy-point-container .select-point-cont{
  width:100%;
  padding:0;
  font-weight: 700;
  margin-top: 20px;
}


.one-point-radio-list{
  width:100%;
  background:#fff;
  position: relative;
  border:1px solid #dadada;
  padding:10px;
  margin-top: 10px;
}

.one-point-radio-list > i{
    position:absolute;
    top:3px;
    left:3px;
    color:#dadada;
}

.one-point-radio-list.checked{
    border:1px solid #484848;
}

.one-point-radio-list.checked > i{
    color:#484848;
}


.one-point-radio-list > .p-title{
  width: 100%;
  text-align: center;
  font-size:14px;
}

.bonus-point-tag{
  padding:1px 5px;
  color:#fff;
  background:#ff3163;
  font-size:10px;
  font-weight:700;
}

.one-point-radio-list > .p-product{
  width:100%;
  margin-top:10px;
  font-size:22px;
  color:#222222;
  text-align:center;
}

.one-point-radio-list > .p-product > .one-point-name{
  display:inline-block;
  margin-left:10px;
  margin-right:10px;
  color:#222222;
}

.one-point-radio-list > .p-product > .one-point-name.bonus-point{
  color:#ff3163;
}

.one-point-radio-list > .p-cost{
  width:100%;
  margin-top:15px;
  text-align:right;
}

.one-point-radio-list > .p-cost > .before-cost{
  display:inline-block;
  height:20px;
  font-size:14px;
  font-weight:500;
  color:#999;

}

.one-point-radio-list > .p-cost > .after-cost{
  font-size:20px;
  font-weight: 700;
  color:#000;
}

.one-point-radio-list > .p-cost > .after-cost > span:nth-child(2){
    color:#000;
}

.one-point-radio-list > .p-cost > .before-cost > div{
  position:relative;
  display: flex;
  justify-content: center;
  align-items:center;
}

.t4-buy-point-container > .section-container > .t4-section-content{
  width: 100%;
  margin-top:10px;
  padding:20px;
  border-top:1px solid #dadada;
  border-bottom:1px solid #dadada;
}


.t4-section-content > div.bold{
  width:100%;
  display:flex;
  justify-content: space-between;
  color:#000;
  font-size:15px;
  font-weight:700;
}

.t4-section-content > div.light{
  width:100%;
  display:flex;
  justify-content: space-between;
  color:#585858;
  font-size:12px;
  font-weight:700;
}

.t4-select-payment-cont{
  display:flex;
  width:100%;
  font-size:13px;
  font-weight:700;
  color:#222;
}




/*todo 수잘친 선생님 리스트*/
.t4-teacher-list-container{
    width:100%;
    height:100%;
    padding:20px 0px 0px 0px;
    background:#fff;
    overflow:scroll;
    font-size:14px;
    font-weight:700;
    color:#222;
}

.t4-teacher-list-container > .title{
    width:100%;
    font-size:12px;
    font-weight:700;
    color:#000;
}
.t4-teacher-list-container > .t4-each-list{
    width:100%;
    padding:10px 0px 0px 0px;
    background:#fff;

}

.t4-each-list > .list-title{
    font-size:14px;
    font-weight:700;
    color:#222;
}

.t4-each-list > .teacher-list{
    width:100%;
}

.one-teacher-info-box{
    width:100%;
    height:60px;
    margin-top:6px;
    font-size:13px;
    font-weight:700;
    color:#222;
    padding:0 10px;
}

.one-teacher-info-box > div {
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.teacher-info-wrapper > .teacher-image-box{
     width:60px;
     height:100%;
     display:flex;
     align-items:center;
     justify-content:center;
}

.teacher-info-wrapper .teacher-image{
    width:50px;
    height:50px;
    object-fit-cover;
    border-radius:10px;

}

.teacher-info-box{
    height:100%;
    padding-top:8px;
}

.teacher-info-box > .nick{
    font-size:16px;
    color:#000
}

.teacher-info-box > .uni-major{
    font-size:11px;
    color:#858585;
    font-weight:500;
}

.teacher-info-box > .uni-major > span{
    background:#f2f2f2;
    padding:1px 3px 0px 3px;
}

.t4-search-teacher-input{
    width:100%;
    height:100%;
    outline:none;
    border:1px solid #dedede;
    padding-left:5px;
    border-radius:6px 0 0 6px;

}

.t4-search-teacher-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    width:94px;
    height:100%;
    background:#484848;
    color:#fff;
    font-size:12px;
    border-radius:0 6px 6px 0;
    position:relative;
}


.all-teacher-list{
    width:100%;
    height:100%;
    overflow:scroll;
}