.history-list-container{
    background:#fff;
    width:100%;
    height:calc(100% - 70px);
    padding-bottom:5px;
    overflow:scroll;
}
.one-history-list{
    width:100%;
    height:60px;
    background:#fff;
}

.one-history-list > div{
    width:95%;
    height:100%;
    margin:0 auto;
    padding:0 10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #eaeaea;
}

.history-list-content{
    display:inline-block;
    font-size:12px;
    font-weight:500;
    color:#000;
}

.history-list-content > span.big-txt{
    font-size:15px;
    font-weight:700;
    color:#000;
}

.history-list-content > span.small-txt{
    color:#999;
}
