/* 500px 이상일때 */
@media (min-width: 500px) {
  .content_container {
    position:relative;
    display:inline-block;
    margin:5px;
    width:490px;
    height:300px;
    background-color:#fff;
    border-radius:10px;
    border:2px dotted #747474;
  }

}
/* 500px 미만일때 */
@media (max-width: 500px) {
  .content_container {
    position:relative;
    display:inline-block;
    margin:2px 0px;
    width:100%;
    height:200px;
    background-color:#fff;
    border-radius:10px;
    border:2px dotted #747474;
  }

}

.top_menu_bar {
  /*border-bottom:2px solid #EAEAEA;*/
  position: fixed;
  top: 0px;
  height: 80px;
  width:100%;
}
.left_menu_btn {
  display:inline-block;
  margin-left:5px;
  width:25px;
  position:relative;
}
.top_logo {
  display:inline-block;
  margin-top:5px;
  margin-left:10px;
  width:80px;
}
.logo_font{
  font-size: 20px;
  color:#0665cf;
  font-weight:700;
}
.top_login_off {
  position: absolute;
  top:5px;
  right:10px;
  color:#747474;
  font-weight:700;
  width:140px;
  padding:1px;
  display:none;
}
.top_login_on {
  padding-right:5px;
  margin-top:5px;
  color:#747474;
  font-size:13px;
  width:100%;
  display:none;
}
.category_bar {
  color:#747474;
  width:100%;
}
.category_menu {
  position:relative;
  float:left;
  width:25%;
  font-size:15px;
  font-weight:700;
}
.category_badge {
  position:absolute;
  top: -5px;
  left: 70%;
  background-color:#FF0000;
  color:#fff;
  font-size: 10px;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.pagination_category{
  width:100%;
  margin-top:10px;
}
.main-one-tab{
  width:25%;
  display:flex;
  flex:1;
  justify-content:center;
  align-items:center;
  font-size:13px;
  font-weight:700;
  color:#999999;
}


/*hr#menu_btn_bar {
  position:absolute;
  bottom:0px;
  left:0px;
  width:25%;
  margin:0px;
  border:1px solid #0665cf;
}*/

.top_search {
  position: fixed;
  width:100%;
  top:80px;
  left:0px;
  height:30px;
  background-color:#fff;
  border-bottom:2px solid #EAEAEA;
}

.search_form {
  position: absolute;
  outline:none;
  top: 0px;
  left: calc(5% + 30px);
  border: none;
  width: 65%;
  height:90%;
}
input.search_form::-webkit-input-placeholder {
  font-size:13px;

}

.menu_screen {
  position: fixed;
  left: 0px;
  width: 100%;
  padding-top: 5px;
  height: calc(100% - 110px);
  background-color:#F6F6F6;
  overflow:scroll;
}
.content_img_con {
  position:absolute;
  top:10px;
  left:2%;
  width:96%;
  height:55%;
}
.content_main_img {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  border-radius:5px;
}
.content_adopt {
  position:absolute;
  bottom: 5px;
  right: 5px;
  width: 12%;
  height: 12%;
}
.question_main {
  position: absolute;
  top: 3px;
  left: 5%;
  width: 90%;
  height: 20px;
  background-color:#000;
  opacity: 0.7;
  border-radius:5px;
}
.question_text {
  position:relative;
  font-size:11px;
  color:#fff;
}
.question_nic {
  position:absolute;
  top:63%;
  left:10px;
  font-size:12px;
  font-weight:700;
}
.content_hr {
  position:absolute;
  top:73%;
  left:0px;
  width:100%;
  margin:0px;
  border:1px solid #D5D5D5;
}
.question_con {
  position:absolute;
  float:left;
  top:78%;
  left:2%;
  width:96%;
  height:calc(100% - 78%);
  font-size:12px;
}
.page_back {
position:absolute;
width:calc(100vw - 300px);
left:300px;
top:0;
height:100%;
background:rgba(0,0,0,0.0);
}
.left_screen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display:none;
}
.profile {
  position: relative;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
div.main-menu-label-wrapper{
  width:100%;
  height:68px;
  display:flex;
  background:#fff;
}
div.main-menu-label-wrapper > nav{
  flex:1;
  height:100%;
}

div.main-menu-label-wrapper > nav > .label-content{
  width:100%;
  height:70%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#222222;
  font-size:15px;
  font-weight:700;
}

div.main-menu-label-wrapper > nav > .label-name{
  width:100%;
  height:30%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#fff;
  font-size:12px;
  font-weight:700;
  color:#999;
}

div.main-menu-label-wrapper-2{
    width:100%;
    padding:8px 0 12px 8px;
    background:#fff;
    font-size:14px;
    color:#000;
    font-weight:900;
    margin-top:8px;
    text-align:left;
}

div.main-menu-label-wrapper-2 > .menu-content-box{
    width:100%;
    color:#000;
    font-size:15px;
    font-weight:500;
}

div.main-menu-label-wrapper-2 > .menu-content-box > div {
    margin-top:20px;
    display:flex;
    align-items:center;
}

div.main-menu-label-wrapper-2 > .menu-content-box > div >.l-icon {
    color:#7a7a7a;
    width:35px;
}

div.main-menu-label-wrapper-2 > .menu-content-box > div > .l-text {
    margin-left:0px;
}


div.main-menu-label-wrapper-2 > .menu-content-box > div > .not-read-icon {
  display:inline;
  position:relative;
  margin-left:1px;
  height:20px;
}


span.mail-box-not-read-in-header{
  display:inline-block;
  position: absolute;
  top:7px;
  padding:0px 4px;
  border-radius:50em;
  background:#ff4200;
  color:#fff;
  font-size:9px;
  font-weight:700;
  margin-top:-4px;
}

.profile_img_con {
    position: relative;
    width: 30%;
    height: 100%;
    padding: 2vw 4vw;
}

.profile_img_h {
  border-radius: 2vw;
  object-fit: cover;
}

.profile_img {
  border-radius: 15px;
  object-fit: cover;
}

.profile_edit_btn {
  position: absolute;
  top: 30px;
  left: 85px;
  width: 30px;
  height: 30px;
  border:2px solid #0665cf;
  border-radius:50%;
  background-color:#fff;
}
.profile_edit_img {
  width:15px;
  height:15px;
  position:absolute;
  left:5px;
  top:5px;
}
.profile_info_con {
  position: relative;
  padding: 4vw 2vw;
  line-height: initial;
  width: 70%;
}
.nic_info_con {
  position:relative;
  width:100%;
}
.nic_info {
  font-size:2.3vh;
  font-weight:700;
}
.email_info_con {
  position:relative;
  width:100%;
  padding: 1vw;
}
.email_info {
  font-size:2vh;
  padding: 3px 5px;
}
.school_info_con {
  position:relative;
  width:100%;
  padding: 1vw;
}
.school_info {
  font-size:1.7vh;
  white-space: normal;
}
.left_menu_close {
  position:absolute;
  top:10px;
  right:10px;
  width:20px;
  height:20px;
  opacity:0.7;
}
.close_btn {
  width:100%;
  height:100%;
}
.left_info {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 100%;
  height: 300px;
}
.my_info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.my_info_title {
  font-size:15px;
  color:#fff;
}
.my_info_val {
  font-size:14px;
  color:#fff;
  font-weight:700;
  white-space:normal;
}

.position_abs {
  position:absolute;
  top:0px;
  left:0px;
  font-weight:500;
}


div#search_category_screen {
  position: fixed;
  top: 0px;
  right: -300px;
  width: 300px;
  height: 100%;
  border:1px solid #ccc;
  background-color:#fff;
}
div#search_category_close {
  position:absolute;
  top:10px;
  left:10px;
  width:20px;
  height:20px;
  opacity:0.7;
}


.pnt {
  cursor: pointer;
}
.pnt:active {
  background: #F6F6F6;
}
.pnt1 {
  cursor: pointer;
}
.pnt1:active {
  background: #191919;
}
.pnt2 {
  cursor: pointer;
}
.pnt2:active {
  background: #0557B3;
}
.pnt-y:active {
  background: #FBF9EB;
}

.zc-pnt:active{
  background:#FFB918;
}

.top_bar_con {
  display:none;
  z-index:9999;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:46px;
  background-color: #505050;
}
.top_bar_tab {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 100%;
}
.top_bar_tab_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.top_bar_text {
    font-size: 15px;
    font-weight: 700;
    color:#fff;
}
.top_back {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 20px;
  height: 20px;
}
.add_screen {
  position: relative;
  width: 100%;
  height: calc(100% - 46px);
  overflow: scroll;
}
.add_form_screen {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.add_form_con{
  position: relative;
  width: 90%;
  margin: 30px auto;
}
.add_form_border {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.add_check_img {
  position: relative;
  padding: 2px;
  width: 20px;
  height: 20px;
}
.add_input {
  border: none;
  width: calc(100% - 50px);
  padding: 5px;
}
.add_out {
  font-size:10px;
  color: #353535;
  padding: 1px;
}
.add_sex_radio {
  position: absolute;
  top: 10px;
  right: 10px;
}
.total_chk {
  margin: 0px;
}
.chk1 {
  font-size: 12px;
  border-bottom: 1px solid #000;
}
.chk2 {
  font-size: 12px;
  color: #747474;
}
.add_form_chk {
  position: relative;
  padding: 5px;
}
.add_btn {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 46px;
  display: table;
  background-color:#fad037;
  color:#ffffff;
}
.fs10p {
  font-size: 10px;
}
.add_input_id {
  border: none;
  width: calc(70% - 50px);
  padding: 5px;
}
.email_cer {
  position: absolute;
  padding: 5px 10px;
  right: 0px;
  bottom: 2px;
  border: 1px solid #980000;
  color: #980000;
  border-radius: 5px;
}
.email_cer_num {
  position: absolute;
  width: 100px;
  padding: 5px 10px;
  right: 0px;
  bottom: 2px;
  border: 1px solid #ccc;
  display: none;
}
.email_cer_suc {
  position: absolute;
  padding: 5px 10px;
  right: 0px;
  bottom: 2px;
  border: 1px solid #008BE5;
  color: #008BE5;
  border-radius: 5px;
  display: none;
}
.add_form_btn {
  position: relative;
  width: 100%;
  margin: 30px auto;
}
.pw_reset_btn {
  position: absolute;
  padding: 5px 10px;
  right: 0px;
  bottom: 2px;
  border: 1px solid #003399;
  color: #003399;
  border-radius: 5px;
}
.profile_edit_img_con{
  position: relative;
  margin: 50px auto 0px;
  width: 100px;
  height: 100px;
}
.profile_edit_img2{
  border-radius: 15px;
  object-fit: cover;
}
.profile_edit_info_con{
  position: relative;
  margin: 20px auto;
}
.email_con{
  margin-top: 5px;
}
.profile_edit_img3{
  position: absolute;
  top: -25px;
  right: -30px;
  width: 30px;
  height: 30px;
}
.add_check_img2 {
  position: relative;
  right: 0px;
  padding: 2px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  display: none;
}
.bottom_menu{
  position: relative;
  width: 320px;
  height: 50px;
  margin: -10px auto 10px;
  display: flex;
}
.bottom_img_con{
  position: relative;
  width: 50px;
  height: 100%;
  border-radius: 50em;
  margin: 0px 15px;
  padding: 0px;
  white-space: normal;
}
.bottom_img{
  position: relative;
  padding: 10px;
  width: 50px;
}
.profile_set_btn {
  position: relative;
  padding: 5px 10px;
  right: 0px;
  bottom: 2px;
  background:#ffeb48;
  color:#222222;
  font-weight:700;
  border-radius: 5px;
}
.notice_con{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - 0px);
  background-color: #F6F6F6;
  padding-top:10px;
  overflow: scroll;
}
.panel_huni {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel_body{
  padding: 10px;
  margin: 1px 5px 0px;
  border-top: 1px solid #D5D5D5;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #fff;
}
.notice_img{
  position: absolute;
  right: 10px;
  width: 15px;
  height: 10px;
}
.pw_reset_btn_rel{
  position: relative;
  width:100%;
  background-color:#fff;
  padding: 5px 10px;
  border: 1px solid #003399;
  color: #003399;
  border-radius: 5px;
}
.email_cer_suc_rel{
  position: relative;
  width:100%;
  background-color:#fff;
  padding: 5px 10px;
  border: 1px solid #003399;
  color: #003399;
  border-radius: 5px;
  display: none;
}
.email_cer_rel{
  position: relative;
  width:100%;
  background-color:#fff;
  padding: 5px 10px;
  border: 1px solid #980000;
  color: #980000;
  border-radius: 5px;
}
.tatle_date{
  font-size: 10px;
  color: #BDBDBD;
  margin: 0px;
}

/* 스위치 css START */
.switch {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 50px;
  height: 25px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ff9300;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ff9300;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* 스위치 css END */

.hr_10p{
  margin: 5px 15px;
}
.hr_5p{
  border-top: 1px solid #ccc;
  margin: auto;
}
p#option1{
  margin: 0px;
  padding:10px;
  color:gray;
}
p#option2{
  margin: 0px;
  padding:10px;
  color:gray
}
.huni_aco_back{
  position: relative;
  margin-bottom: 10px;
}
.huni_aco_container{
  position: relative;
  background-color: #fff;
  padding: 10px 15px;
  font-weight: 700;
  z-index: 1;
}
.huni_aco_content{
  position: relative;
  background-color: #fff;
  padding: 0px 15px;
}
.huni_checkbox{
  position: absolute;
  top: 5px;
  right: 15px;
}



swiper-container_h{
  width: 100%;
  top: 110px;
  height: calc(100% - 61px);
}


.label_title{
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 0px;
  color: #747474;
}
.service_pan{
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  border-top: 1px solid #ccc;
  text-align: -webkit-auto;
}
.service_font{
  position: relative;
  left: 15px;
  font-size: 15px;
  font-weight: 700;
}
.service_arrow{
  position: absolute;
  top: 18px;
  right: 5px;
  width: 15px;
  height: 15px;
}
input::-webkit-input-placeholder {
    font-size:3.1vw;
    line-height: 3;
}

.gray_bar{
  position: relative;
  top: 40px;
  width: 100%;
  height: 10px;
  background-color: #F6F6F6;
}



/* 정민이한테 파일 주고난 후 작업 */
.service_icon{
  position: relative;
  left: 10px;
  width: 30px;
  height: 30px;
  margin: 5px;
}
.slide_con{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
}

.slide_con_h{
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
  overflow: hidden;
}

.notice_con_qna{
  position: relative;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    padding-top: 10px;
    overflow: scroll;
}
.marker
{
	background-color: Yellow;
}

.version_info{
  position: absolute;
  right: 20px;
  color: #747474;
}
.agreement_con{
  padding: 5px;
  background-color: #fff;
}

.wrap {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.wrap span {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.tr_title{
  background-color: #fff;
  font-weight: 700;
  background:#f5f5f5;
  color:#000;
  text-align:center;
  vertical-align:middle;
}
.tr_inp{
  background-color: #fff;
}


/*추가*/
/* 2018-05-11 합본 이후 추가 작업내용 */
.support_sub{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: #0665cf;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.support_sub_btn{
  width:100%;
  text-align:center;
  background-color: none;
}
.td_font{
  font-size: 15px;
  font-weight: 700;
}
.important_icon{
  vertical-align: baseline;
  width: 10px;
}
.support_title_icon{
  vertical-align: initial;
  width: 13px;
}

.info_bar{
  position: relative;
  width: 100%;
  padding: 7px 0px;
  display: -webkit-inline-box;
  text-align: center;
  background-color: #fff;
}
.info_title{
  width: 20%;
  color: #8C8C8C;
}
.info_title_img{
  width: 2.5vh;
  margin: 5px;
}
.info_title_font{
  font-size: 1.8vh;
  font-weight: 700;
}
.info_title_bar{
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 20%;
  border-top: 5px solid #000;
  border-radius: 5px;
  margin: 0px;
}
.info_content_screen{
  position: relative;
  background-color: #fff;
  padding-bottom: 7vh;
}
.info_intro_con{
  position: relative;
  width: 95%;
  margin: 7px auto;
  background-color: #fff;
  border-radius: 5px;
}
.info_intro_title{
  position: relative;
  border-bottom: 1px dashed #ccc;
  padding: 3px;
}
.info_intro_title_font{
  font-size: 1.7vh;
  color: #8C8C8C;
  font-weight: 700;
}
.info_intro_title_img{
  margin-left: 10px;
  width: 15px;
}
.info_intro_content{
  position: relative;
  padding: 5px;
  height: 30vw;
}
.info_intro_content_font{
  font-size: 2vh;
  color: #222222;
}
.info_question_total_con{
  position: relative;
  width: 100%;
  background-color: #FFEB48;
  border: 1px solid #222222;
  border-radius: 7px;
  display: table;
  text-align: center;
}
.info_question_total_font{
  position: relative;
  font-size: 2.7vh;
  font-weight: 700;
  color: #222222;
  word-break: break-all;
  display: table-cell;
  vertical-align: middle;
}
.info_question_category_con{
  position: relative;
  width: 100%;
  padding: 5px;
  overflow: scroll;
}
.info_question_category_title{
  font-size: 1.7vh;
  color: #8C8C8C;
  font-weight: 700;
}
.info_question_category_content{
  font-size: 2vh;
  font-weight: 700;
  overflow: scroll;
}
.info_question_category_adopt{
  position: absolute;
  bottom: 0px;
  font-size: 13px;
  font-weight: 700;
  color: #45FF51;
}
.info_question_category_adopt_img{
  width: 20px;
  vertical-align: sub;
}
.info_question_category_content_con{
  position: relative;
  width: 100%;
  padding: 3px;
}
.info_title_setting_img{
  position: absolute;
  top: 1vh;
  right: 1vh;
}

.top_down {
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
  width: 20px;
}
.self_intro_sub{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: #0665cf;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}



/* 2018-05-18 통합 이후 작업 */
.question_menu{
  height:100%;
  width: 100%;
  display: -webkit-inline-box;
  background-color: #fff;
}
.question_menu_con{
  position: relative;
  width: 50%;
  text-align: center;
  padding: 5px 0px;
}
.question_menu_text{
  font-size: 13px;
  font-weight: 700;
}

.bin_page{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#999;
    flex-direction:column;
}
.bin_page > img{
    width:60px;
}

.mark_con{
  position: relative;
  width: 100%;
  padding: 5px;
  background-color: #fff;
  border-radius:5px;
  display: -webkit-inline-box;
  margin-bottom: 1%;
}
.mark_img{
  height: 15vw;
  width: 15vw;
  border-radius: 2vw;
  object-fit: cover;
}
.mark_nic{
  font-size: 3.7vw;
  font-weight: 700;
  color: #222222;
}
.mark_nic1{
  font-size: 3.7vw;
  font-weight: bold;
  color: #222222;
}
.mark_nic2{
  font-size: 2.7vw;
  font-weight: bold;
  color: #8C8C8C;
}
.mark_mes{
  font-size:3vw;
  font-weight:700;
  color: #8C8C8C;
}
.mark_mes1{
  font-size: 3vw;
  font-weight: 700;
  color: #8C8C8C;
}
.mark_img_con{
  position: relative;
  width: 20%;
  text-align: center;
}
.mark_nic_con{
  position: relative;
  width: 100%;
}
.mark_mes_con{
  position: relative;
  width: 100%;
  line-height: 1;
  margin-top: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mark_title{
  position: relative;
  width: 100%;
  font-size: 1.7vh;
  font-weight: 700;
  color: #000;
  padding: 5px 5px 0px;
  background-color: #fff;
}
.mark_mem_info{
  position: relative;
  width: 80%;
  padding: 1vw;
  line-height: 1;
}
.mark_tot{
  font-size: 1.5vh;
  font-weight: 700;
  color: #8C8C8C;
}

.info_intro_title_plus{
  border-top:1px dashed #ccc;
  border-bottom: none;
}
.info_intro_content_con{
  position: relative;
  padding: 2vw;
}
.appraisal_tot{
  font-size: 10px;
  font-weight: 700;
  color: #8C8C8C;
}

.point_detail_con{
  position: relative;
  width: 100%;
  background-color: #fff;
}
.point_detail_val{
  position: relative;
  width: 95%;
  padding: 10px;
  border-bottom: 1px solid #EAEAEA;
  margin: auto;
}
.point_add_date{
  font-size: 10px;
  font-weight: 700;
  color: #8C8C8C;
}
.point_detail_info{
  line-height: 15px;
  margin-bottom: 5px;
}
.point_add_num{
  font-weight: 700;
  color: #222222;
}
.point_use_title{
  font-size: 11px;
  font-weight: 700;
  color: #8C8C8C;
}
.raise_file_con{
  position: relative;
  width: 100%;
  padding: 10px;
}
.raise_file_title{
  font-weight: 700;
  color: #22222;
}
.raise_img_con{
  position: relative;
  width: 100%;
}
.leave_con{
  position: relative;
  width: 100%;
  padding: 10px;
}
.underline{
  text-decoration: underline;
}
.add_address_search{
  width: 90px;
  background-color: #fff;
  border: 1px solid #FF9300;
  color: #FF9300;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px;
}



/* 2018-07-01 통합 이후 작업 */
.submit_btn_fixed{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
}
.red_h{
  color: #E52700;
  font-size: 10px;
  vertical-align: baseline;
}
.select_body{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  display: none;
}
.select_view{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #fff;
  display: none;
}
.select_sub_btn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 46px;
  display: flex;
}
.select_close{
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #222222;
  color: #fff;
  font-weight: 700;
  display: table;
}
.select_submit{
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #FFEB48;
  color: #222222;
  font-weight: 700;
  display: table;
}
.select_cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.select_option_list{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 46px);
  overflow: scroll;
}
.select_option{
  position: relative;
  width: 90%;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 5px 0px;
}
.option_selected{
  border: 1px solid #FF9300;
}
.counter_div{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.point_img_h{
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
.gray_color_h{
  color: #A6A6A6;
}
.orange_color_h{
  color: #FF9300;
}
.gray_color_h_fs13{
  color: #A6A6A6;
  font-size: 1.7vh;
}
.info_intro_title_setting_icon{
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  display: none;
}


.toast-msg-in-html{
    width:100%;
    height:55px;
    position:fixed;
    bottom:0;
    left:0;
    display:none;
    background:transparent;
    color:#fff;
    font-weight:700;
    font-size:14px;
}

.toast-msg-in-html > div{
    width:100%;
    height:100%;
    display:flex;
    background:rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
}

.withdrawalBtn{
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1.5vw;
    padding: 1.5vw 0;
    font-size: 3.5vw;
    margin-bottom: 2vw;
}






/*========================= 2019-03-20 이후 ==============================*/
.divListContentTopH{
    display: -webkit-box;
    width: 100%;
}

.divListContentMidH{
    display: -webkit-box;
    width: 100%;
    font-size: 2.7vw;
    font-weight: bold;
}

.divLeft70pH{
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spanListTitleH{
    font-family: ns;
    font-size: 4.5vw;
    font-weight: bold;
    color:#222;
}

.spanListTegH{
    display: inline-block;
    font-size: 2.9vw;
    font-weight: bold;
    border-radius: 50em;
    padding: 0.5% 4%;
    margin-left: 2%;
    background: #ffeb48;
    color: #222;
}

.divRight30pH{
    width: 30%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spanListDateH{
    font-size: 2.9vw;
    font-weight: bold;
    color: #ccc;
}

.divLeft60pH{
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.divLeft40pH{
    width: 40%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.divListImgZikpoolIconH{
    display: table;
    position: absolute;
    top: 0px;
    color: #FFEB48;
    font-size: 1.5vh;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    padding: 2px;
    margin: 1px;
    font-weight: bold;
}

.divListImgSelectIconH{
    position: absolute;
    color: #FFEB48;
    top: 0px;
    display: table;
    width: 100%;
    height: 100%;
    font-size: 2.5vh;
}

.bin_page_tableCell{
    position: relative;
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #F6F6F6;
    color: #8C8C8C;
}

.pushBoxCon{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.pushBoxListCon{
    display: table;
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid #eaeaea;
}

.pushBoxListImg{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 10vh;
    padding: 1vh;
}

.pushBoxListRightCon{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 1vh;
}

.pushBoxListTitle{
    font-weight: bold;
    font-size: 2.5vh;
    margin: 0px;
}

.pushBoxListOnOff{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1vh;
    width: 7vh;
    font-size: 4vh;
    color: #8c8c8c;
}

.pushBoxListContent{
    height: 6vh;
    font-size: 2.3vh;
    color: #8C8C8C;
}

.pushBoxDate{
    position: relative;
    font-size: 1.7vh;
    color: #8C8C8C;
}

.pushBoxContainer{
    position: relative;
    width: 100%;
    height: 100%;
}

.pushDetailContainer{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1vh;
}

.pushDetailDate{
    position: absolute;
    right: 1vh;
    font-size: 1.7vh;
    color: #8c8c8c;
}

.pushDetailTypeSupport{
    margin-left: 2vh;
    background-color: #008BE5;
    padding: 1vh 2vh;
    border-radius: 1vh;
    color: #fff;
    font-weight: bold;
}

.pushDetailTypeTeacher{
    margin-left: 2vh;
    background-color: #FFEB48;
    padding: 1vh 2vh;
    border-radius: 1vh;
    color: #222;
    font-weight: bold;
}

.pushDetailTypeReport{
    margin-left: 2vh;
    background-color: #E52700;
    padding: 1vh 2vh;
    border-radius: 1vh;
    color: #fff;
    font-weight: bold;
}

.pushDetailTypeOther{
    margin-left: 2vh;
    padding: 1vh 2vh;
    border-radius: 1vh;
    color: #222;
    font-weight: bold;
    width: 13vh;
}

.pushDetailContentCon{
    margin: 2vh;
    padding-left: 1vh;
    white-space: pre-wrap;
}

.pushDetailContent{
    border: none;
    background-color: #fff;
    font-size: 2vh;
    white-space: pre-wrap;
}

.pushDetailTitleCon{
    margin: 5vh 2vh 3vh;
    padding-bottom: 1vh;
    font-size: 2.8vh;
    font-weight: bold;
}

.pushDetailTDCon{
    margin-top: 2vh;
}



/*========================= 2019-04-09 이후 ==============================*/
.opa0d3{
    opacity: 0.3;
}
.mailBoxSupportIcon{
    width: 10vw;
    padding: 0.7vh 1vh;
    font-size: 1.7vh;
    background-color: #008BE5;
    color: #fff;
    border-radius: 0.7vh;
}
.mailBoxTeacherIcon{
    width: 10vw;
    padding: 0.7vh 1vh;
    font-size: 1.7vh;
    background-color: #FFEB48;
    color: #222;
    border-radius: 0.7vh;
}
.mailBoxReportIcon{
    width: 10vw;
    padding: 0.7vh 1vh;
    font-size: 1.7vh;
    background-color: #E52700;
    color: #fff;
    border-radius: 0.7vh;
}
.mailBoxOtherIcon{
    width: 10vw;
    padding: 0.7vh 1vh;
    font-size: 1.7vh;
    background-color: #F6F6F6;
    color: #222;
    border-radius: 0.7vh;
}

.mailBoxSalIcon{
    width: 10vw;
    padding: 0.7vh 1vh;
    font-size: 1.7vh;
    background-color: #01CF24;
    color: #fff;
    border-radius: 0.7vh;
}
.mailBoxListDate{
    position: absolute;
    top: 0.2vh;
    right: 1vh;
}
.profileP {
    position: relative;
    width: 100%;
    height: 30vw;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    width: 100%;
    display: -webkit-inline-box;
}

.companyFont{
    position: relative;
    left: 3vw;
    font-size: 3vw;
    font-weight: 700;
}
.myProfileIcon{
    font-size: 7vw;
    padding: 3vw;
    color: #4C4C4C;
}


/*================================ 2019-04-24 통합 후 추가 =====================================*/
.guideListCon{
    position: relative;
    width: 100%;
    height: 100%;
}
.guideTypeCategory{
    position: relative;
    display: flex;
    width: 100%;
}
.guideBtn{
    flex: 1;
    padding: 5vw 0;
    border-bottom: 2px solid #222;
    border-radius: 0;
}
.guideBtnSpan{
    font-size: 3.3vw;
    font-weight: bold;
    color: #222;
}