<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agendiar.project.study"> <!--zikpool.stoudy.com.zikpoolandroid-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        tools:replace="android:allowBackup"
        android:hardwareAccelerated="true"
        android:name="com.agendiar.project.app.App"
        android:allowBackup="false"
        android:icon="@mipmap/zikpool_app_icon_o"
        android:roundIcon="@mipmap/zikpool_app_icon_o"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.agendiar.project.util.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.StatusBar_main"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="zikpool" android:host="zikpoolandroid"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8533573452821472~4066711364"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/zikpool_simple_logo" />


       <!-- <meta-data
            tools:replace="android:value"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>-->



        <activity android:name="com.agendiar.project.study.KakaoSignUpActivity"/>

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.PointPaymentWebviewActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.SalaryActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.GiftImageActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.CashExchangeActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.WebPageActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.agendiar.project.study.OpenZikpoolActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name="com.agendiar.project.study.TeacherClassRoomActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="zikpool" android:host="trc"/>
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.ReportAnsOrZCActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.IntroduceActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.HeaderActivity"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.AddActivity"
            android:launchMode = "singleTask"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.MailBoxActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.MailBoxDetailActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.AddQuestionActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.AddAnswerActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.InformationActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.MySearchActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.SearchFilterActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
        android:exported="false"
        android:name="com.agendiar.project.study.NoticeActivity"
        android:theme="@style/AppTheme.StatusBar_sub"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.NoticeDetailActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.QuestionDetailActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.SettingActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.UserInfoActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.ZikpoolChatActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.ZikpoolRoomActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.agendiar.project.study.OpenZikpoolRoomActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.PracticeZikpoolActivity"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.CameraActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.Camera2ndActivity"
            android:launchMode = "singleTop"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:launchMode = "singleTop"
            android:name="com.agendiar.project.study.ImageAndCropActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.ImageSlideAuxActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.JustViewActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.GuideActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.SupportActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.CompanyActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.AdminMyClassChannel"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.MakeClass"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.SelfintroActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.CareerActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.MyprofileActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.PointhisActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.CashHisActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.EditProfileMsgActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.TeacherRegisterActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.MyeditActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.SelectLevelSubjectActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.OtherUserInfoActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.IncomeHisActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.SnsLoginChkActivity"
            android:theme="@style/AppTheme.StatusBar_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.AddressPostActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="false"
            android:name="com.agendiar.project.study.SelectUniversityActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.agendiar.project.study.MemberWithdrawalActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.agendiar.project.study.GuideDetailActivity"
            android:theme="@style/AppTheme.StatusBar_sub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <service
            android:name="com.agendiar.project.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--<service-->
            <!--android:name="zikpool.stoudy.com.service.MyFirebaseInstanceIdService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->
    </application>

</manifest>