.one-gift-list-box{
    width:100%;
    height:80px;
    margin-top:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #f2f2f2;
}
.one-gift-list-box > .info-box{
    height:100%;
    display:flex;
    align-items:center;

}

.one-gift-list-box > .info-box > img{
    width:80px;
    max-height:78px;
}

.one-gift-list-box > .info-box > .item-div{
    font-size:14px;
    display:flex;
    flex-direction:column;
    padding-left:15px;
    font-weight:700;
}

.one-gift-list-box > .info-box > .item-div > .name{
    font-size:14px;
    color:#000;
}

.one-gift-list-box > .info-box > .item-div > .price{
    font-size:15px;
    color:#999;
    margin-top:6px;
    display:flex;
    align-items:center;
}

.purchase-btn{
    width:90px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--cr-main-dark1);
    color:#fff;
    font-weight:700;
    border-radius:7px;
}

input.cash-input{
    border:none;
    border-bottom:1px solid #f2f2f2;
    outline:none;
    font-size:28px;
    color:#3e3a39;
    font-weight:700;
    margin-left:8px;
    width:50%;
    max-width:200px;
}
.res-point{
    font-size:17px;
    color:#3e3a39;
    text-align:left;
    margin-left:8px;
}

.change-cash-to-point-btn{
    width:240px;
    height:46px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--cr-main-dark1);
    color:#fff;
    font-size:16px;
    font-weight:700;
    border-radius:12px;
    margin:0 auto;
    margin-top:50px;
}