.sal-container{
    width:100%;
    height:calc(100% - 46px);
    background:var(--cr-main-dark1);
    color:#222;
    padding:16.5% 5% 0% 5%;
    font-weight:700;
    overflow: scroll;
    display:none;
}


.main-info-of-teacher-container{
    width:100%;
    padding-bottom:5%;
    border-bottom:1px solid #dedede;
    background:#fff;
    display:flex;
    flex-direction:column;
    color:#898989;
}

.main-info-of-teacher-container > .income-text-label{
    color:#de1a1a;
    width:100%;
    margin-top:2%;
    display:flex;
    align-items:center;
    font-weight:600;
    color:#222;
}

.detail-info-of-teacher-container{
    width:100%;
    background:#fff;
    padding-top:2%;
}

div.one-holder-info-box{
    width:100%;
    display:flex;
    background:#fff;
    align-items:center;
    padding:5% 0% 2% 0%;
    border-bottom:1px solid #dedede;
}
div.one-holder-info-box > .info-title{
    flex:4;
    color:#a9a9a9;
}

div.one-holder-info-box > .info-detail{
    flex:6;
}

.salary-point-input-container{
    width:100%;
    display:flex;
    align-items:center;
}


#income-to-krw{
    width:60%;
    padding:3%;
    border:1px solid #dedede;
    outline:none;
}

input::-webkit-input-placeholder {
  font-size:3.2vw;
}

#request-my-income-to-exchange-btn{
  width:100%;
  height:46px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:16px;
  font-weight: 700;
  display:none;
}

.requirement-not-satisfied{
    background:#dadada;
    color:#8a8a8a;
    pointer-events:none;
}

.requirement-satisfied{
    background:var(--cr-main-dark1);
    color:#fff;
    pointer-events:auto;
}




#loading-window{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
}
#loading-window > div{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.7);
    flex-direction:column;
    color:#fff;
    font-size:15px;
    font-weight:700;
}


#teacher-understand-btn{
    width:96px;
    height:38px;
    background:var(--cr-main);
    border-radius:6px;
    color:#222;
    font-size:15px;
    font-weight:700;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}






.sal-container{
    width:100%;
    height:calc(100% - 46px);
    background:#fff;
    color:#3e3a39;
    font-weight:700;
    overflow:scroll;
    border:1px solid red;
}

